* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 130px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 130px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header, section h2 {
    font-family: "Bungee", cursive;
}

header .cabecalho {
    padding: 45px;
    background-color: #182C61;
    color: #ecf0ec;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.324);
}

header .cabecalho {
    animation: fadein 0.5s ease-out;
}

header nav ul {
    display: inline;
}

header nav li {
    display: inline;    
    margin: 16px;
    font-size: 24px;
}

header nav li a {
    color: #ecf0ec;
    text-decoration: none;
}

#sobreLoja {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .cabecalho, 
section #sobreLoja{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section #sobreLoja p {
    margin-bottom: 20px;
    font-size: 20px;
}

section #sobreLoja h2 {
    margin-bottom: 32px;
    font-size: 32px;
}

footer .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    margin: 18px 0 0;
}

.brands-list img{
    height: 50px;
    margin-right: 45px;
    width: 56px;
    border-radius: 50%;
}

.brands-list li {
    display: inline;
}

section .socialMedia {
    align-items: flex-start;
}

.imagemLoja {
    width: 520px;
    height: 380px;
    margin-right: 16px;
    margin-left: 0;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.324);
}

#inicio {
    position: relative;
}

#inicio::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(180, 180, 180, 0), rgb(255, 255, 255));
}

.titulo-inicio{
    position: absolute;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    bottom: 200px;
    font-size: 23px;
    color: #ecf0ec;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
}

.img-consoles{
    object-fit: cover;
    width: 100%;
    height: 520px;
    position: relative;
    margin-bottom: 12px;
}

.socialMedia {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 0;
    margin-top: 100px;
}

.formSocialMedia {
    width: 50%;
    margin-top: 60px;
}

.formSocialMedia form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.formSocialMedia label {
    margin-bottom: 8px;
    font-weight: bold;
}

.formSocialMedia input,
.formSocialMedia textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formSocialMedia button {
    padding: 10px;
    background-color: #4775f5;
    color: #ecf0ec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formSocialMedia button:hover {
    background-color: #0f1c42;
}

.redesSociaisMedia {
    width: 50%;
    margin-top: 60px;
    margin-left: 75px;
}

.redesSociaisMedia a {
    display: block;
    margin-bottom: 8px;
    color: #537df0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    margin-top: 16px;
}

.redesSociaisMedia a:hover {
    color: #0f1c42;
}

#contato {
    width: 50%;
    margin-top: 60px;
}

#contato a{
    display: block;
    margin-bottom: 8px;
    color: #537df0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    margin-top: 16px;
}

#contato h3 {
    margin-bottom: 16px;
}

#contato a:hover,
#contato p:hover {
    color: #0f1c42;
}

footer {
    background-color: #182C61;
    color: #ecf0ec;
    margin-top: 280px;
}

.cabecalho li a:hover {
    color: #7791e1;
}

footer p {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    justify-content: center;
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 200px;
    }

    body {
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        padding-top: 200px;
    }

    header .cabecalho,
    #sobreLoja {
        gap: 16px;
        flex-direction: column;
        text-align: center;
    }

    .imagemLoja {
        width: 100%;
        height: auto;
        margin: 16px 0;
    }

    .socialMedia {
        flex-direction: column;
        align-items: center;
        padding: 12px;
        width: 100%;
    }

    .formSocialMedia,
    .redesSociaisMedia,
    #contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px auto;
        width: 100%;
    }
}